{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">Lista de Cauchos</h1>
<div class="container-fluid">

<form class="form-inline" action="{{ path('pruductos_cauchos_lista') }}" method="POST" id="producto-buscar">
  <div class="form-group">
    <input type="text" class="form-control" name="producto" placeholder="Buscar producto" autocomplete="off">
  </div>
    <button class="btn btn-primary" id="buscar"><span class="glyphicon glyphicon-search"></span></button>
    <a href="{{ path('pruductos_cauchos_lista') }}" class="btn btn-default btn-success">Lista completa</a>
    <a href="{{ path('productos_cauchos_agregar') }}" class="btn btn-default btn-warning {% if is_granted('ROLE_USER') %}{{'disabled'}}{% endif %}">Agregar <span class="glyphicon glyphicon-plus"></span></a>
</form>

<br />

  <table class="table table-bordered table-responsive table-hover">
    <thead>
      <tr class="active">
      	<th> {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>
		<th> {{ knp_pagination_sortable(pagination, 'Producto', 'a.producto') }} </th>
		<th> {{ knp_pagination_sortable(pagination, 'Modelo/Tipo', 'a.modeloTipo') }} 	</th>
		<th> {{ knp_pagination_sortable(pagination, 'Cantidad', 'a.cantidad') }} </th>
		<th> {{ knp_pagination_sortable(pagination, 'Costo', 'a.costo') }} </th>
		<th> {{ knp_pagination_sortable(pagination, 'Creado', 'a.creado') }} </th>
		<th> {{ knp_pagination_sortable(pagination, 'Actualizado', 'a.actualizado') }} </th>
		<th> Acciones </th>
      </tr>
    </thead>
    <tbody>
		{% for producto in pagination %}
			<tr>
				<td>{{producto.id}}</td>
				<td>{{producto.producto}}</td>
				<td>{{producto.modeloTipo}}</td>
				<td>{{producto.cantidad}}</td>
				<td>Bs: {{producto.costo | number_format(2, ',', '.')}}</td>
				<td>{{producto.creado | date('d-m-y')}}</td>
				<td>{{producto.actualizado | date('d-m-y')}}</td>
				<td class="text-center">
					<div class="row" id="{{producto.id}}">
						<form role="form" action="{{ path('productos_cauchos_compra', {'id' : ':id'}) }}" class="form-horizontal" novalidate="novalidate" method="POST">

							<div class="col-xs-4">
								<a class="btn btn-success boton-editar {% if is_granted('ROLE_USER') %}{{'disabled'}}{% endif %}" href="{{ path('productos_cauchos_editar', {'id' : producto.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
								<a class="btn btn-danger boton-eliminar {% if is_granted('ROLE_USER') %}{{'disabled'}}{% endif %}" href="#"><span class="glyphicon glyphicon-remove"></span></a>
							</div>

							<div class="col-xs-4">
								<input class="form-control" type="number" name="cantidad" min="1"/>
							</div>

							<div class="col-xs-4">
								<a class="btn btn-block btn-warning boton-compra" href="#" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
							</div>

						</form>

					</div>
				</td>
			</tr>
		{% endfor %}
    </tbody>
  </table>
</div>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
		<script type="text/javascript">
			$(document).ready(function(){
					$('.boton-compra').click(function(e){
						e.preventDefault();
						//obtenemos valores para pasarlos a la funcion post
						var formulario = $(this).parents('form');
						var id = formulario.parent().attr('id');
						var url = formulario.attr('action').replace(':id', id);
						var data = formulario.serialize();
						var cantidad = formulario.find('input[name="cantidad"]').val();
						//ejecutamos la peticion mediante post para restar el producto
						//confirmacion con bootbox
						bootbox.confirm({
    						message: "¿Estas seguro de la venta?",
    						buttons: {
        						confirm: {
            						label: 'Si',
            						className: 'btn-success'
        						},
        						cancel: {
            						label: 'No',
            						className: 'btn-danger'
        						}
    						},
    						callback: function (result) {
    							if(cantidad > 0)
    							{
        							if(result){
										$.post(url,data,function(datos){
                                            bootbox.confirm('<p class="text-success">'+datos.mensaje+'<span class="glyphicon glyphicon-ok-    sign"></span></p>', 
                                            function(result){ 
                                                location.reload();
                                            });                                           
                                            var dialog = bootbox.dialog({
                                                title: 'Agregar informacion de cliente',
                                                message: '<p><i class="fa fa-spin fa-spinner"></i> Cargando...</p>'
                                            });
                                            //dialog
                                            dialog.init(function(){
                                                setTimeout(function(){
                                                    urlr = "{{ path('registrar_cliente', { 'id': ':id' }) }}"
                                                    urlrtotal = urlr.replace(':id', datos.id_registro)
                                                    dialog.find('.bootbox-body').html('\
                                                        <div class="container-fluid">\
                                                          <form action="'+urlrtotal+'" method="post">\
                                                            <div class="form-group">\
                                                              <label for="nombre">Nombre:</label>\
                                                              <input type="text" class="form-control" id="email" name="nombre" placeholder="Nombre...">\
                                                            </div>\
                                                            <div class="form-group">\
                                                              <label for="cedula">Cedula:</label>\
                                                              <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Ejemplo..2645354">\
                                                              <input type="hidden" name="tipo" value="caucho">\
                                                            </div>\
                                                            <div class="radio">\
                                                                <label><input type="radio" name="pago" value="Efectivo">Efectivo</label>\
                                                            </div>\
                                                            <div class="radio">\
                                                                <label><input type="radio" name="pago" value="Punto/tranferencia">Punto/tranferencia</label>\
                                                            </div>\
                                                            <button type="submit" class="btn btn-default">Guardar</button>\
                                                          </form>\
                                                        </div>\
                                                        ');
                                                }, 900);
                                            });    
										})
											.fail(function(jqXHR, textStatus, errorThrown){
												var datos = jQuery.parseJSON(jqXHR.responseText);
												bootbox.alert({
													message: '<p class="text-danger">'+datos.mensaje+' <span class="glyphicon glyphicon-exclamation-sign"></span></p>',
													className: 'bb-alternate-modal'
												});

											});
        							}
        						}else{
									bootbox.alert({
										message: '<p class="text-danger">Numero de pedido invalido <span class="glyphicon glyphicexclamation-sign"></span></p>',
										className: 'bb-alternate-modal'
									});
        						}
    						}
						});
					});

					$('.boton-eliminar').click(function(e){
						e.preventDefault();
						//obtenemos valores para pasarlos a la funcion post
						var formulario = $(this).parents('form');
						var id = formulario.parent().attr('id');
						var url = "{{ path('productos_cauchos_eliminar', {'id' : ':id'}) }}";
						var urltotal = url.replace(':id', id);
						//ejecutamos la peticion mediante post para restar el producto
						//confirmacion con bootbox
						bootbox.confirm({
    						message: "¿Estas seguro de eliminar el producto?",
    						buttons: {
        						confirm: {
            						label: 'Si',
            						className: 'btn-success'
        						},
        						cancel: {
            						label: 'No',
            						className: 'btn-danger'
        						}
    						},
    						callback: function (result) {
        						if(result){

									$.post(urltotal, function(data){
										bootbox.alert('<p class="text-success">'+data.mensaje+'<span class="glyphicon glyphicon-ok-	sign"></span></p>');
										location.reload();
									}).fail(function(jqXHR, textStatus, errorThrown) {
										var datos = jQuery.parseJSON(jqXHR.responseText);

										bootbox.alert({
											message: '<p class="text-danger">'+datos.mensaje+' <span class="glyphicon glyphicon-exclamation-sign"></span></p>',
											className: 'bb-alternate-modal'
										});
  									});
        						}
    						}
						});
					});

			});

		</script>
{% endblock %}
